@model StatisticsDashboard.Models.Category

@{
    ViewData["title"] = "Delete Category";
}

<h2>Choose category to delete</h2>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="categoryId">Select Category</label>
        <select class="form-control" id="categoryId" name="id">
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-danger mt-2">Delete</button>
    <a asp-controller="Items" asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
</form>
