@model StatisticsDashboard.Models.Item
@{
    var message = "hellowirld";
    var items = new List<string> { "item1", "item2", "item3" };
}

<ul>
    @foreach(var item in items)
    {
        <li>@item</li>
    }
</ul>